.App {
  text-align: center;
}

h1{
  color:red;

  font-family: jokerman;
}

.main{
  border:5px solid red;
  width:35%;
  background-color: gold;

}

img{
  height: 150px;
  width: 150px;
  margin-top: 10px;
}


.header{
  position: sticky;
  left: 0;
  top: 0px;
  height: 10%;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: center;
 
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: center;

}

