/* .App {
  text-align: center;
}

h1{
  color:red;

  font-family: jokerman;
}

.main{
  border:5px solid red;
  width:35%;
  background-color: gold;

}

img{
  height: 150px;
  width: 150px;
  margin-top: 10px;
} */


.header{
  position: sticky;
  left: 0;
  margin-top: 0px;
  padding-top: 0px;
  height: 50%;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: center;
 
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: center;

}

.page{
  float: left;
  position:absolute
}

.table{
  border: 1px solid black;
  height: 50%;
}

.box{
  border-style: solid;
  background-color: aqua;
  width: 550px;
}

.mainbox{
  padding-top: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.button{
  background-color: rgb(214, 194, 13);
  width: 40px;
  margin-bottom: auto;
}